<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml" data-ng-app="WandererApp">
<head>
    <meta charset="utf-8" />
    <!--external dependencies-->
    <script src="jquery/jquery-2.1.3.min.js"></script>
    <script src="http://code.angularjs.org/1.2.2/angular.js"></script>
    <script src="http://code.angularjs.org/1.2.2/angular-animate.min.js"></script>

    <!--core-->
    <script src="roll.js"></script>
    <script src="Color.js"></script>
    <script src="Character.js"></script>
    <script src="SaveLoad.js"></script>
    <script src="main.js"></script>
    <!--modules-->
    <!--Items-->
    <script src="items.js"></script>
    <!--description-->
    <script src="description.js"></script>
    <!--name-->
    <script src="name.js"></script>
    <!--notes-->
    <script src="notes.js"></script>
    <!--skills-->
    <script src="skills.js"></script>
    <!--cards-->
    <script src="card.js"></script>
    <script src="cards.js"></script>

    <script src="standardBonuses.js"></script>

    <!--Misc-->
    <!--<script src="Miscs.js"></script>
    <script src="Misc.js"></script>-->
    <!--npcs-->
    <!--<script src="npcs.js"></script>-->
    <!--standardBonuses-->
    <!--skills-->
    <!--<script src="node.js"></script>
    <script src="Network.js"></script>
    <script src="Connection.js"></script>-->
    <!--goals-->
    <!--<script src="goal.js"></script>
    <script src="goals.js"></script>
    <script src="FailedGoal.js"></script>-->

    <!--styles-->
    <link rel="stylesheet" type="text/css" href="style.css">
    <!--<link rel="stylesheet" type="text/css" href="newStyle.css">-->
    <link href="http://fonts.googleapis.com/css?family=Roboto:300,400,300italic,400italic,700,700italic"
          rel="stylesheet" type="text/css">
    <title>Wanderer</title>
</head>
<body>
    <div id="all">

        

        <div id="page-header" class="pad-me">
            
            <!--<button id="mode" type="button">Done Editing</button>-->
            <!--load-->
            <button id="load" type="button">Load</button>
            <input type="file" id="load-file" style="display:none;" accept=".json">

            <!--save-->
            <button id="save" type="button">Save</button>
            <input type="file" id="save-file" style="display:none;" accept=".json" nwsaveas />
       
            <button id="debug" type="button">debug</button>
         </div>

        <div id="content">
            <!--name -->
            <div id="character-name-section" draggable="true" class="drag section write" data-ng-controller="Name">
                <div class="section-header">
                    <button class="hide-button" type="button">-</button>
                    <!--<button class="edit-button" type="button">edit</button>-->
                    <h2 class="section-title">Name</h2>
                </div>
                <div class="section-body pad-me">
                    <div class="play">
                        <h1 id="character-name-display">{{charName}}</h1>
                    </div>
                    <div class="write">
                        <input type="text" placeholder="Enter your name" id="character-name-edit" class="text-input" data-ng-model="charName" />
                    </div>
                </div>
            </div>
            <!--description -->
            <div id="description-section" draggable="true" class="drag section write" data-ng-controller="Description">
                <div class="section-header">
                    <button class="hide-button" type="button">-</button>
                    <!--<button class="edit-button" type="button">edit</button>-->
                    <h2 class="section-title">Description</h2>
                </div>
                <div class="section-body fixed-content pad-me">
                    <div class="play">
                        <div id="description-display"><p>{{description}}</p></div>
                    </div>
                    <div class="write">
                        <textarea id="description-edit" placeholder="Describe yourself" class="char-text" data-ng-model="description"></textarea>
                    </div>
                </div>
            </div>
            <!--goals-->
            <div id="goals-section" draggable="true" class="drag section write">
                <div class="section-header">
                    <button class="hide-button" type="button">-</button>
                    <button class="edit-button" type="button">edit</button>
                    <h2 class="section-title">Goals</h2>
                </div>
                <div class="section-body fixed-content">
                    <div class="play">
                        passed: <span id="goal-passed">0</span> failed: <span id="goal-failed">0</span>
                        <ol>
                            <li>
                                <div id="goal-display-1" class="goal-display"></div>
                            </li>
                            <li>
                                <div id="goal-display-2" class="goal-display"></div>
                            </li>
                            <li>
                                <div id="goal-display-3" class="goal-display"></div>
                            </li>
                        </ol>
                    </div>
                    <div class="write">
                        <ol>
                            <li>
                                <textarea id="goal-edit-1" class="goal-edit char-text"></textarea>
                                effort:<input id="goal-effort-1" type="number" class="counter text-input" value="0">
                                <button id="goal-passed-1" type="button">passed</button>
                                <button id="goal-failed-1" type="button">failed</button>
                            </li>
                            <li>
                                <textarea id="goal-edit-2" class="goal-edit char-text"></textarea>
                                effort:<input id="goal-effort-2" type="number" class="counter text-input" value="0">
                                <button id="goal-passed-2" type="button">passed</button>
                                <button id="goal-failed-2" type="button">failed</button>
                            </li>
                            <li>
                                <textarea id="goal-edit-3" class="goal-edit char-text"></textarea>
                                effort:<input id="goal-effort-3" type="number" class="counter text-input" value="0">
                                <button id="goal-passed-3" type="button">passed</button>
                                <button id="goal-failed-3" type="button">failed</button>
                            </li>
                        </ol>
                    </div>
                    <ul id="goal-failed-list" class="element-list"></ul>
                </div>
            </div>
            <div id="divider1" class="divider mock-section">
                <h2 class="mock-section-title"> test</h2>
                <!--<h1>Character under the Fiction</h1>-->
            </div>

            <!--notes-->
            <div id="notes-section" draggable="true" class="drag section play" data-ng-controller="Notes">
                <div class="section-header">
                    <button class="hide-button" type="button">-</button>
                    <!--<button class="edit-button" type="button">edit</button>-->
                    <h2 class="section-title">Notes</h2>
                </div>
                <div class="section-body fixed-content pad-me">
                    <p class="play tip">Skills are ... TODO link to rules</p>
                    <form>
                        <textarea id="notes"  placeholder="Keep notes" class="char-text" data-ng-model="notes"></textarea>
                    </form>
                </div>
            </div>

            <!--traits, skills-->
            <!--<div id="skills-section" draggable="true" class="drag section write">
                <div class="section-header">
                    <button class="hide-button" type="button">-</button>
                    <button class="edit-button" type="button">edit</button>
                    <h2 class="section-title">Skills</h2>
                </div>
                <div class="section-body">
                    <p class="write tip">Skills are ... TODO link to rules</p>
                    <div class="write pad-me">
                        Skill:<input id="skill-name" type="text" class="input-element text-input" />
                        <button id="add-skill" type="button">Add skill</button>
                    </div>
                    <ul id="skill-element-list" class="element-list"></ul>
                </div>
            </div>-->
            <div id="divider2" class="divider mock-section">
                <h2 class="mock-section-title"> test</h2>
                <!--<h1>Character under the Rules</h1>-->
            </div>
            <!--Misc bonuses-->
            <!--<div id="misc-section" draggable="true" class="drag section write" data-ng-controller="Misc">
                <div class="section-header">
                    <button class="hide-button" type="button">-</button>
                    <button class="edit-button" type="button">edit</button>
                    <h2 class="section-title">Misc Bonuses:</h2>
                </div>
                <div class="section-body">
                    <p class="write tip">Skills are ... TODO link to rules</p>
                    <div class="write pad-me">
                        Bonus:<input id="misc-name" type="text" class="input-element text-input" data-ng-model="toAdd" />
                        <button id="add-misc" type="button" data-ng-click="addMisc()">add bonus</button>
                    </div>
                    <ul id="misc-element-list" class="element-list">

                        <li class='misc' data-ng-repeat="misc in miscs" data-ng-class="{highlight : misc.checked}">
                            <label>
                                <input class='check play' type='checkbox' data-ng-model="misc.checked" data-ng-change="updateBonus()">
                                {{misc.name}}
                            </label>
                            <input type='number' class='counter misc-bonus write text-input' data-ng-model="misc.bonus">
                            <button type='button' class='write' data-ng-click="removeMisc(misc.name)">delete</button>
                        </li>

                    </ul>
                </div>
            </div>-->



            <!--Skills-->
            <div id="skills-section" draggable="true" class="drag section write" data-ng-controller="Skills">
                <div class="section-header">
                    <button class="hide-button" type="button">-</button>
                    <button class="edit-button" type="button">edit</button>
                    <h2 class="section-title">Skills:</h2>
                </div>
                <div class="section-body">
                    <p class="write tip">Skills are ... TODO link to rules</p>
                    <div class="pad-me">
                        <div class="write">
                            <input type="text" placeholder="Enter a skill" class="text-input input-element" data-ng-model="toAdd" />
                            <button type="button" data-ng-click="addSkill()">add skill</button>
                        </div>
                        <div class="play">
                            <button type="button" data-ng-click="looseSkill()">loose a skill</button>
                        </div>
                    </div>
                    <ul id="skill-element-list" class="element-list">
                        <li class='skill' data-ng-repeat="skill in skills" data-ng-class="{highlight : skill.active}">
                            <label>
                                <input class='check play' type='checkbox' data-ng-model="skill.active" data-ng-change="updateBonus()">
                                <spqn data-ng-class="{red : skill.bonus <0}">{{skill.name}}</spqn>
                            </label>
                            <button class='play' type='button' data-ng-click="flipSkill(skill)">flip</button>
                            <!--<span class='write'>:</span><span class='value write'>{{getBonus(skill)}}</span>-->

                            <select class='write dropdown' data-ng-model="skill.toAdd">
                                <option data-ng-repeat="innerSkill in skills | filter: showOption(skill)" value={{innerSkill.name}}>{{innerSkill.name}}</option>
                            </select>
                            <button class='write' data-ng-click="addConnection(skill)" type='button'>connect</button>
                            <button class='write' data-ng-click="deleteSkill(skill)" type='button'>delete</button>
                            <ul class='write'>
                                <li data-ng-repeat="isHelped in skill.helps">
                                    {{isHelped}}
                                    <button data-ng-click="deleteConnection(skill,isHelped)" type='button'>delete</button>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>

            <!--Items-->
            <div id="items-section" draggable="true" class="drag section write" data-ng-controller="Item">
                <div class="section-header">
                    <button class="hide-button" type="button">-</button>
                    <button class="edit-button" type="button">edit</button>
                    <h2 class="section-title">Items:</h2>
                </div>
                <div class="section-body">
                    <p class="write tip">Skills are ... TODO link to rules</p>
                    <div class="write pad-me">
                        <input placeholder="Enter an item" id="item-name" type="text" class="text-input input-element" data-ng-model="toAdd" />
                        <button id="add-item" type="button" data-ng-click="addItem()">add item</button>
                    </div>
                    <ul id="item-element-list" class="element-list">
                        <li class='item' data-ng-repeat="item in items">
                            {{item.name}}<span class="play">: {{item.number}}</span>
                            <input type='text' class='text-input item-number write' data-ng-model="item.number">
                            <button type='button' class='write' data-ng-click="removeItem(item.name)">delete</button>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- cards -->
            <div id="cards-section" draggable="true" class="drag section write" data-ng-controller="Cards">
                <div class="section-header">
                    <button class="hide-button" type="button">-</button>
                    <button class="edit-button" type="button">edit</button>
                    <h2 class="section-title">Cards</h2>
                </div>
                <div class="section-body pad-me">
                    <p class="write tip">cards are ... TODO link to rules</p>
                    <div id="cards">
                        <div class="card" data-ng-repeat="card in cards" data-ng-class="{write : !card.active}">
                            <span class="counter-name write">Active:</span>
                            <input class="check write" type="checkbox" data-ng-model="card.active">
                            <button class="write" type="button" data-ng-click="removeCard(card)">delete</button>
                            <textarea class="card-text char-text" data-ng-model="card.words"></textarea>
                        </div>
                    </div>
                    <button id="add-card" class="write" type="button" data-ng-click="addCard()">add card</button>
                </div>
            </div>

            <div id="divider3" class="divider mock-section">
                <h2 class="mock-section-title"> test</h2>
                <!--<h1>Misc</h1>-->
            </div>

            <!--Standard bonuses-->
            <div id="standard-bonuses-section" draggable="true" class="drag section play" data-ng-controller="standardBonuses">
                <div class="section-header">
                    <button class="hide-button" type="button">-</button>
                    <button class="edit-button" type="button">edit</button>
                    <h2 class="section-title">Accepted Bonuses:</h2>
                </div>
                <div class="section-body">
                    <p class="write tip">Skills are ... TODO link to rules</p>
                    <div class="write pad-me">
                        <input placeholder="bonus" id="misc-name" type="text" class="input-element text-input" data-ng-model="toAdd" />
                        <button type="button" data-ng-click="addBonus()">add bonus</button>
                    </div>
                    <ul id="misc-element-list" class="element-list">

                        <li class='misc' data-ng-repeat="bonus in bonuses" data-ng-class="{highlight : bonus.checked}">
                            <label>
                                <input class='check play' type='checkbox' data-ng-model="bonus.checked" data-ng-change="updateBonus()">
                                {{bonus.name}}
                            </label>
                            <input type='number' class='counter write' data-ng-model="bonus.number">
                            <button type='button' class='write' data-ng-click="removeBonus(bonus)">delete</button>
                        </li>

                    </ul>
                </div>
            </div>


            <!--roll-->
            <div id="roll-section" draggable="true" class="drag section play">
                <div class="section-header">
                    <button class="hide-button" type="button">-</button>
                    <!--<button class="edit-button" type="button">edit</button>-->
                    <h2 class="section-title">Roll</h2>
                </div>
                <div class="section-body fixed-content pad-me">
                    <p class="play tip">Skills are ... TODO link to rules</p>
                    Misc:<input type="number" class="counter" id="misc" value="0">
                    current total bonus: <span id="totalBonus">0</span>
                    <br />
                    <button id="roll-stable" class="roll-buton" type="button">roll-1.5!</button>
                    <button id="roll-normal" class="roll-buton" type="button">roll-3!</button>
                    <button id="roll-unstable" class="roll-buton" type="button">roll-6!</button>
                    <div class="roll-results">
                        <div id="roll-0" class="roll-result"></div>
                        <div id="roll-1" class="roll-result"></div>
                        <div id="roll-2" class="roll-result"></div>
                    </div>
                </div>
            </div>

            <!--hp -->
            <div id="hp-section" draggable="true" class="drag section play">
                <div class="section-header">
                    <button class="hide-button" type="button">-</button>
                    <!--<button class="edit-button" type="button">edit</button>-->
                    <h2 class="section-title">Hit Points</h2>
                </div>
                <div class="section-body fixed-content pad-me">
                    <p class="play tip">Skills are ... TODO link to rules</p>
                    <form>
                        <span class="counter-name">HP:</span>
                        <input type="number" class="counter" value="3">
                        <!--<br />
                        <span class="counter-name">Facts:</span>
                        <input type="number" class="counter" value="3">-->

                    </form>
                </div>
            </div>

            <!--combat-->
            <div id="combat-section" draggable="true" class="drag section play">
                <div class="section-header">
                    <button class="hide-button" type="button">-</button>
                    <!--<button class="edit-button" type="button">edit</button>-->
                    <h2 class="section-title">Combat</h2>
                </div>
                <div class="section-body fixed-content pad-me">
                    <p class="play tip">Skills are ... TODO link to rules</p>
                    <form>
                        <span class="counter-name">Speed:</span>
                        <input type="number" class="counter" value="1">
                        <br />
                        <span class="counter-name">Offense:</span>
                        <input type="number" class="counter" value="1">
                        <br />
                        <span class="counter-name"> Defense:</span>
                        <input type="number" class="counter" value="1">
                    </form>
                </div>
            </div>




            <!--NPCs-->
            <!--<div id="npcs-section" draggable="true" class="drag section" data-ng-controller="NPC">
                <div class="section-header">
                    <button class="hide-button" type="button">-</button>-->
            <!--<button class="edit-button" type="button">edit</button>-->
            <!--<h2 class="section-title">DM:NPCs</h2>
            </div>
            <div class="section-body fixed-content pad-me">
                <table>
                    <thead>
                        <tr>-->
            <!--<th>Name</th>
            <th>Speed</th>
            <th>Attack</th>
            <th>Defense</th>
            <th>Sum</th>
            <th>Delete</th>-->
            <!--</tr>
                        </thead>
                        <tbody>
                            <tr data-ng-repeat="npc in npcs">
                                <td><input type="text" class="text-input" data-ng-model="npc.name" /></td>
                                <td><input type="number" class="text-input" data-ng-model="npc.speed"></td>
                                <td><input type="number" class="text-input" data-ng-model="npc.attack"></td>
                                <td><input type="number" class="text-input" data-ng-model="npc.defense"></td>
                                <td>{{npc.speed + npc.attack + npc.defense}}</td>
                                <td><button type="button" data-ng-click="removeNPC(npc)">delete</button></td>
                            </tr>
                        </tbody>
                    </table>
                    <button type="button" data-ng-click="addNPC()">add</button>
                    <button type="button" data-ng-click="randomize()">randomize</button>
                </div>
            </div>-->

            <div id="divider4" class="divider mock-section">
                <h2 class="mock-section-title"> test</h2>
                <!--<h1>Misc</h1>-->
            </div>

            

        </div>
    </div>

    <!--<span class="test">Wanderer</span>-->
</body>
</html>