/*.text-input {
    padding: 2px 2px 2px 2px;
    border-width: 0px 0px 1px 0px;
    background-color: transparent;
    border-radius: 0px;
}*/


/*body {
    background:#333;
    /*background:#161616;*/
    /*background:#f1f1f1;*/
}*/

/*.section-body {
    background-color: white;
}*/

