.card {
    width:100%;
    resize: vertical;
}

#all.play .write {
    /*we can have styling for when we are in play*/
    display:none;
}

#all.write .play {
    /*or when we are in write mode*/
    display:none;
}

.roll-result {
    display:inline-block;
    width:0%;
    -webkit-transition: all 0.3s ease;
    opacity: 0.0;
}

.roll-result.active{
    width:90%;
    opacity: 1;
}

.rolling .roll-result {
    width:25%;
    opacity: 0.6;
}

.rolling .roll-result.active {
    width:45%;
    opacity: 1;
}

#traits-sub-section, #cards-section, .tip {
    display:none;
}